In [3]:
import requests as request
import json
import pandas as pd
 
response = request.get('https://api.mercadolibre.com/sites/MLB/search?q=samsungGalaxyA30')
data = json.loads(response.content)
# df = pd.DataFrame.from_dict(data['results'])#Con esto metemos el contenido del json en un DF aunque se ve todo asqueroso y no sirve
resultados_inicales = data['results']#Con esto asiganamos a una variable lo que hay en resuls, que es la verdadera informacion que me interes
var = []
for i in data['results']:
    var.append( i['id'])

var

['MLB1349493327',
 'MLB1349497347',
 'MLB1349498665',
 'MLB1349500372',
 'MLB1349500812',
 'MLB1349503970',
 'MLB1349500814']

In [35]:
resultados_inicales[3]['id']

'MLB1349500812'

In [4]:
#Llenando listas con datos para luego insertar en el DF
cantidad_vendida=[]
tiempo_incio=[]
id_seller=[] 
precios=[]
currency_id=[]
sale_terms=[]
mode_shipping=[]
response_time = []

for i in var:
    responseApi2 = request.get('https://api.mercadolibre.com/items/'+ i)
    response_time.append(response.elapsed.total_seconds())#tiempo de respuesta cuando voy a pegarle a la api
    data2=json.loads(responseApi2.content)
    cantidad_vendida.append(data2['sold_quantity'])
    tiempo_incio.append(data2['start_time'])
    id_seller.append(data2['seller_id'])
    precios.append(data2['price'])
    currency_id.append(data2['currency_id'])
    sale_terms.append(sale_terms_translate(data2['sale_terms']))
    mode_shipping.append(shipping_translate(data2['shipping']))

In [70]:
data2['shipping']['free_methods'][0]['rule']['free_mode']

'country'

In [75]:
response_time

[0.557018, 0.557018, 0.557018, 0.557018, 0.557018, 0.557018, 0.557018]

In [2]:
def shipping_translate (dic_shipping):
    if dic_shipping['free_shipping'] == True:
        return dic_shipping['free_methods'][0]['rule']['free_mode']
    else:
        return ' '
    
def sale_terms_translate (list_sales):
    if len(list_sales) != 0:
        return list_sales[0]['id']
    else:
        return ' '

In [5]:
data = pd.DataFrame({'id_producto': var,'id_seller':id_seller,'cantidad_vendidos':cantidad_vendida,'tiempos_iniciales':tiempo_incio,'precios':precios,'currency_id':currency_id,'sale_terms':sale_terms,'mode_shipping':mode_shipping})
data

,id_producto,id_seller,cantidad_vendidos,tiempos_iniciales,precios,currency_id,sale_terms,mode_shipping
0,MLB1349493327,459734183,0,2019-10-25T13:54:35.000Z,198.36,BRL,,Probando funcion
1,MLB1349497347,459734183,0,2019-10-25T13:54:28.000Z,198.36,BRL,,Probando funcion
2,MLB1349498665,459734183,0,2019-10-25T13:55:45.000Z,198.36,BRL,,Probando funcion
3,MLB1349500372,459734183,0,2019-10-25T13:55:24.000Z,198.36,BRL,,Probando funcion
4,MLB1349500812,459734183,0,2019-10-25T13:55:47.000Z,198.36,BRL,,Probando funcion
5,MLB1349503970,459734183,0,2019-10-25T13:57:00.000Z,198.36,BRL,,Probando funcion
6,MLB1349500814,459734183,0,2019-10-25T13:55:47.000Z,198.36,BRL,,Probando funcion

In [7]:
data2['international_delivery_mode']

'DDU'